#tasks-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
  }
  
  #tasks-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  #tasks-list li:last-child {
    border-bottom: none;
  }
  
  #tasks-list .btn {
    margin-top: 5px;
  }